

.navbar{
  background-color: var(--primary-color);
  
  padding: .5rem calc((100vw - 1200px) / 2);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  
}

.navbar h1{
  color: var(--white-color);
}

.navbar h1 span{
  color: var(--secondary-color);
}

.navbar-logo{
  height: 90px;
  padding-left: 1rem;
}


.navbar-link{
  color: var(--white-color);
  padding: 0rem 1.2rem;
  transition: all .15s ease-in-out;

  position: relative;
}



.navbar-link:hover{
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.login-btn{
  margin-right: 1rem;
  margin-left: 1rem;
  padding: .6rem 2rem .6rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  border: none;
  transition: all .2s;
  border-radius: 2px;
  text-transform: uppercase;

  
}

.login-btn:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
}
.login-bt{
  padding: 5px 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  border: none;
  transition: all .2s;
  border-radius: 2px;
  text-transform: uppercase;

  
}
.login-bt:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
}




.navbar-link:nth-child(1){
  display: none;
}

.login-btn{
  position: relative;
}

.login-btn:hover .tooltip{
  opacity: 1;
}

.tooltip{
  position: absolute;
  top: 60px;
  left: -50px;
  right: 0;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  line-height: 1.4;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: .8rem;
  text-shadow: 2rem 2rem 5rem var(--primary-color);
  width: 200px;
  -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
  
}

.tooltip .margin{
  margin-bottom: .6rem;
}



/* Navbar Section Responsive */

@media screen and (1116px <= width <= 1152px) {
  .navbar h1{
    display: none;
  }

  .navbar-menu{
    margin-right: 2rem;
  }

  .login-btn{
    margin-left: 1rem;
  }
}

@media screen and (1002px <= width <= 1116px) {
  .navbar h1{
    display: none;
  }

  .navbar-menu{
    margin-right: 1rem;
  }

  .login-btn{
    margin-left: 1rem;
  }
}

@media screen and (828px <= width <= 1002px) {
  .navbar h1{
    display: none;
  }

  .navbar-menu{
    margin-right: -.4rem;
  }

  .navbar-link{
    padding: 0 .4rem;
  }

 
}

@media screen and (769px <= width <= 828px) {
  .navbar h1{
    display: none;
  }

  .navbar-menu{
    margin-right: 1rem;
  }

  .navbar-link{
    padding: 0 .2rem;
  }

  .login-btn{
    padding: .2rem .2rem;
    margin-left: .6rem;
  }
 
}

@media screen and (max-width: 768px) {

  html.active,
  body.active{
    overflow-x: hidden;
    overflow-y: hidden;
    
  }


  .navbar h1{
    display: none;
  }

  .navbar-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
  }

  .navbar-link:nth-child(1){
    display: block;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 100px);
    position: absolute;
    width: 100%;
    visibility: hidden;
    top: -1000px;
    transition: opacity .2s;
  }

  .navbar-menu.active{
    top: 100%;
    opacity: 1;
    z-index: 100;
    height: 100vh;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
  }

  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
    display: block;
    cursor: pointer;
  }

  #mobile-menu{
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .login-btn{
    margin-bottom: 10rem;
  }
  
}